<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

<description>JavaServer Faces 2.0 - MyGourmet 1</description>

<!-- Faces Servlet -->
<servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
</servlet>

<!-- Faces Servlet Mapping -->
<servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
</servlet-mapping>

<!-- Welcome files -->
<welcome-file-list>
 	<welcome-file>login.xhtml</welcome-file>
	<welcome-file>index.html</welcome-file>
</welcome-file-list>


<context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Production</param-value>
</context-param>


<!-- Setting tomahawk attributes to the default values, so that get no log-entry in catalina log ;) -->
<context-param>
	<param-name>org.apache.myfaces.PRETTY_HTML</param-name>
	<param-value>true</param-value>
</context-param>

<context-param>
	<param-name>org.apache.myfaces.ALLOW_JAVASCRIPT</param-name>
	<param-value>true</param-value>
</context-param>

<context-param>
	<param-name>org.apache.myfaces.RENDER_CLEAR_JAVASCRIPT_FOR_BUTTON</param-name>
	<param-value>false</param-value>
</context-param>

<context-param>
	<param-name>org.apache.myfaces.RENDER_HIDDEN_FIELDS_FOR_LINK_PARAMS</param-name>
	<param-value>false</param-value>
</context-param>

<context-param>
	<param-name>org.apache.myfaces.SAVE_FORM_SUBMIT_LINK_IE</param-name>
	<param-value>false</param-value>
</context-param>

<context-param>
	<param-name>org.apache.myfaces.READONLY_AS_DISABLED_FOR_SELECTS</param-name>
	<param-value>true</param-value>
</context-param>

<context-param>
	<param-name>org.apache.myfaces.RENDER_VIEWSTATE_ID</param-name>
	<param-value>true</param-value>
</context-param>

<context-param>
	<param-name>org.apache.myfaces.STRICT_XHTML_LINKS</param-name>
	<param-value>true</param-value>
</context-param>

<context-param>
	<param-name>org.apache.myfaces.RENDER_FORM_SUBMIT_SCRIPT_INLINE</param-name>
	<param-value>false</param-value>
</context-param>

<context-param>
	<param-name>org.apache.myfaces.CONFIG_REFRESH_PERIOD</param-name>
	<param-value>2</param-value>
</context-param>

<context-param>
	<param-name>org.apache.myfaces.VIEWSTATE_JAVASCRIPT</param-name>
	<param-value>false</param-value>
</context-param>

<context-param>
	<param-name>org.apache.myfaces.REFRESH_TRANSIENT_BUILD_ON_PSS</param-name>
	<param-value>auto</param-value>
</context-param>

<context-param>
	<param-name>org.apache.myfaces.REFRESH_TRANSIENT_BUILD_ON_PSS_PRESERVE_STATE</param-name>
	<param-value>false</param-value>
</context-param>

<context-param>
	<param-name>org.apache.myfaces.VALIDATE_XML</param-name>
	<param-value>false</param-value>
</context-param>

<context-param>
	<param-name>org.apache.myfaces.WRAP_SCRIPT_CONTENT_WITH_XML_COMMENT_TAG</param-name>
	<param-value>true</param-value>
</context-param>

</web-app>